/* .cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat}
} */




.landing{
  background-image: url('../images/firstimage.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:17%; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
 
}



.about{
  text-align: center;
  padding-bottom: 30px;
  padding-top:40px;
  font-family: 'Copse', serif;
}
#about{
  font-family: 'Gabriela', serif;
}
.services{
  text-align: center;
  background-image: url("../images/secondimage.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
.services h2{
  font-family: 'Gabriela', serif;
  
}
#servicesoverlay{
  background-color: rgba(0,0,0,0.4);
  padding-top: 10%;
  padding-bottom: 10%;
}
.what-we-do{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 40px;
  font-family: 'Gabriela', serif;
}
.what-we-do .headings{
  padding-bottom: 38px;
}

.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}

.contact{
  background-image: url('../images/lastimage.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.title{
  padding: 6px;
}
.contact h2{
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Gabriela', serif;
}



#product, #development, #design{
  display: none;
  font-family: 'Copse', serif;
  font-size: 16px;
}
#product .title, #development .title, #design .title{
  font-size: 20px;
  font-weight: 600;
}




#work1-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
  align-items: center;
}

#work2-hide {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color:#362721;
  align-items: center;
}

#work3-hide {
  display: none;
  margin:40px;
}



#work2-show{
  margin-left: auto;
}
#work3-show{
  align-items: center;
}
.footer {
  height:auto;
}
.social_icons {
  display: flex;
  justify-content: center;
  position: static;
}

#work1-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
}

#work2-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
}

#work3-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: #362721;
}

#work4-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
}

#work5-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
}

#work6-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
}

#work7-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
}

#work8-hide{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #362721;
}

.card-title .card-text{
  font-weight: 400;
}

.card-margin{
  padding: 1em;
  border: solid #FFFFFF 2px;
  align-items: center;
}